{% extends 'todolistapp/base.html' %}
{% load static %}
{% block content %}
    <img src="{% static 'images/logo.jpg' %}" width="200"
         height="200"/>
{#    create the form to register taskers#}
    <form action="{% url 'add_tasker' %}" method="post">
         {% csrf_token %}
    <input type="text" name="user_tasker" placeholder="New Tasker">
        <input type="email" name="user_email" placeholder="Email">
        <button type="submit">Add Tasker</button>
    </form>
    <br>
{# form : the action attribute indicates the file to process this form #}
<form action="{% url 'add_task' %}" method="post">
     {% csrf_token %}
    <input type="text" name="task" placeholder="New Task">
{#    this is the taskers dropdown #}
    <select name="tasker">
         <option value="">Select a Tasker</option>
        {% for tasker in taskers %}
            <option value="{{ tasker.id }}">
                {{ tasker.username }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Add Task</button>
</form>
{#    create the list #}
<h4>My tasks</h4>
    <ul>
         {% for task in tasks %}
                <li>
                    {{ task.title}}  -  completed {{ task.completed }}
                    <span>
                        - Assigned to - {{ task.tasker.username }}
                         <span>
                        - Email to - {{ task.tasker.email }}
                         </span>
                    </span>
                    {% if task.completed %}
                        Completed
                   {% else %}
                       <a href="{% url 'mark_complete' task.id %}">
                           Mark as Done</a>
                   {% endif %}
                <a href="{% url 'delete_task' task.id %}">
                    Delete This Task</a>
                </li>
{#             show this on no tasks#}
             {% empty %}
             <li>NO TASKS AVAILABLE</li>
         {% endfor %}
    </ul>


{% endblock %}












